@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

ui, li {
  list-style: none; }

a {
  text-decoration: none; }

/*box sizing*/
/*圆角*/
/*渐变*/
/*
 * 阴影
 * @shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  .box-shadow(@shadow);
 */
/*S base*/
* {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

html, body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100%; }

body {
  font-size: 0.24rem;
  margin: 0;
  color: #666666;
  font-family: Arial,Microsoft YaHei,Helvetica,sans-serif;
  background: #fff; }

input, textarea, select {
  -webkit-appearance: none; }

img {
  border: 0 none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0; }

h1 {
  font-size: 0.36rem !important; }

h2 {
  font-size: 0.3rem !important; }

h3 {
  font-size: 0.24rem !important; }

h4 {
  font-size: 0.22rem !important; }

h5 {
  font-size: 0.2rem !important; }

h6 {
  font-size: 0.18rem !important; }

.pos_rel, .btn, .btn_border {
  position: relative; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ellipsis_clip {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.ellipsis_clip3 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.text_left {
  text-align: left; }

.text_center, .btn, .btn_border, .btn_block, .tit_font, .tit_icon {
  text-align: center; }

.text_right {
  text-align: right; }

.pull_left {
  float: left; }

.pull_right {
  float: right; }

.clearfix::after, .clearfix::before {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

a {
  color: #555555;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

em, i {
  font-style: normal; }

b {
  font-weight: normal; }

p {
  margin: 0; }

table {
  width: 100%;
  border-collapse: collapse; }

input, select {
  background: none; }

.c_yellow {
  color: #ffde00 !important; }

.c_red {
  color: #fa5362 !important; }

.c_orange {
  color: #ff6d02 !important; }

.c_green {
  color: #a7dc1b !important; }

.c_gray {
  color: #333 !important; }

.c_666 {
  color: #666 !important; }

.c_888 {
  color: #888 !important; }

.bg_gray {
  background-color: #ccc !important; }

.bg_fff {
  background-color: #fff !important; }

.f24 {
  font-size: 0.24rem; }

.f26 {
  font-size: 0.26rem; }

.f28 {
  font-size: 0.28rem; }

.f30 {
  font-size: 0.3rem; }

.f32 {
  font-size: 0.32rem; }

.f34 {
  font-size: 0.34rem; }

.f36 {
  font-size: 0.36rem; }

.f40 {
  font-size: 0.4rem; }

.f42 {
  font-size: .42rem; }

.p0 {
  padding: 0; }

.plr10 {
  padding-left: 0.1rem;
  padding-right: 0.1rem; }

.plr16 {
  padding-left: 0.16rem;
  padding-right: 0.16rem; }

.plr30 {
  padding-left: 0.3rem;
  padding-right: 0.3rem; }

.pr0 {
  padding-right: 0; }

.pt0 {
  padding-top: 0; }

.pt2 {
  padding-top: 0.02rem; }

.pt16 {
  padding-top: 0.16rem; }

.pt20 {
  padding-top: 0.20rem; }

.pb0 {
  padding-bottom: 0; }

.pb24 {
  padding-bottom: 0.24rem; }

.pb30 {
  padding-bottom: 0.3rem; }

.pb86 {
  padding-bottom: 0.86rem; }

.ptb15 {
  padding-top: .15rem;
  padding-bottom: .15rem; }

.ml10 {
  margin-left: 0.1rem; }

.ml20 {
  margin-left: 0.2rem; }

.mb0 {
  margin-bottom: 0; }

.mb6 {
  margin-bottom: 0.06rem; }

.mb10 {
  margin-bottom: 0.1rem; }

.mb20 {
  margin-bottom: 0.2rem; }

.mt6 {
  margin-top: 0.06rem; }

.mt20 {
  margin-top: 0.2rem; }

.mt24 {
  margin-top: .24rem; }

.mt30 {
  margin-top: 0.3rem; }

.mt38 {
  margin-top: 0.38rem; }

.mr10 {
  margin-right: 0.1rem; }

.mr18 {
  margin-right: 0.18rem; }

.mr20 {
  margin-right: 0.2rem; }

.mr0 {
  margin-right: 0; }

.mlr20 {
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.04rem 0.3rem;
  vertical-align: top;
  border: none;
  border-radius: 4px;
  background-color: #cccccc;
  font-size: 0.3rem;
  white-space: nowrap;
  color: #fff; }

.btn_border {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.04rem 0.3rem;
  vertical-align: top;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.3rem;
  white-space: nowrap; }

.btn_block {
  color: #fff;
  background-color: #0084ff;
  border-radius: 4px; }
  .btn_block a {
    padding: 0.26rem 0;
    display: block;
    color: inherit;
    font-size: 0.3rem; }

.middle {
  vertical-align: middle !important; }

.navigate_right::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0.20rem;
  margin-top: -0.14rem;
  font-family: "ygfont";
  font-size: 0.28rem;
  line-height: 1;
  text-decoration: none;
  content: "\e61f";
  color: #aaaaaa; }

.with_a {
  display: block;
  height: 100%;
  width: 100%; }

.main_con {
  min-height: 100%;
  height: 100%;
  overflow-y: auto; }

.pb96 {
  padding-bottom: 0.96rem; }

.title {
  height: 0.89rem;
  position: relative;
  line-height: 0.88rem; }

.tit_font {
  padding: 0 0.8rem;
  line-height: 0.88rem;
  color: #000;
  font-size: 0.38rem !important; }

.tit_icon {
  display: block;
  position: absolute;
  top: 0;
  height: 0.88rem;
  width: 1rem;
  line-height: 0.88rem; }
  .tit_icon i {
    color: #333;
    font-size: 0.4rem; }

.tit_icon.right {
  right: 0; }

.tit_icon.left {
  left: 0; }

/*scroller 没有很多数据*/
.no-data-text {
  font-size: 0.28rem !important; }

/*scroller 上拉刷新文字*/
._v-container > ._v-content > .loading-layer .spinner-holder .text,
._v-container > ._v-content > .pull-to-refresh-layer .spinner-holder .text {
  font-size: 0.28rem !important; }

.f22 {
  font-size: 0.22rem; }

.ptb0 {
  padding-top: 0;
  padding-bottom: 0; }

.plr12 {
  padding-left: 0.12rem;
  padding-right: 0.12rem; }

.plr40 {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.plr50 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.ptb30 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }

.ptb28 {
  padding-top: 0.28rem;
  padding-bottom: 0.28rem; }

.pr30 {
  padding-right: 0.3rem; }

.p30 {
  padding: 0.3rem; }

.pt10 {
  padding-top: 0.1rem; }

.pt50 {
  padding-top: 0.5rem; }

.pb10 {
  padding-bottom: 0.1rem; }

.pl30 {
  padding-left: 0.3rem; }

.mb40 {
  margin-bottom: 0.4rem; }

.mr30 {
  margin-right: 0.3rem; }

.mlr18 {
  margin-left: 0.18rem;
  margin-right: 0.18rem; }

.mr24 {
  margin-right: 0.24rem; }

.f46 {
  font-size: 0.46rem; }
